@font-face {
  font-family: 'arcon';
  font-display: swap;
  src: url(fonts/arcon/Arcon-Regular.woff2);
}
:root {
  --modal-background: rgba(255, 255, 255, 0);
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'arcon';
}
* {
  box-sizing: border-box;
}
#canvas {
  cursor: none;
}
.scorebox {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 5;
  user-select: none;
  pointer-events: none;
}

.score {
  color: white;
}
.ammobox {
  position: absolute;
  display: flex;
  padding: 10px;
  top: 0;
  right: 0;
  z-index: 10;
}

.ammo {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.ammo.regular {
  background-image: url(assets/regular.png);
}
.ammo.shrapnel {
  background-image: url(assets/shrapnel.png);
}
.ammo.cannonball {
  background-image: url(assets/cannonball.png);
}
.ammo.explosive {
  background-image: url(assets/explosive.png);
}
.ammo.machine {
  background-image: url(assets/machine.png);
}

.ammo.regular.selected {
  background-image: url(assets/regular_selected.png);
}
.ammo.shrapnel.selected {
  background-image: url(assets/shrapnel_selected.png);
}
.ammo.cannonball.selected {
  background-image: url(assets/cannonball_selected.png);
}
.ammo.explosive.selected {
  background-image: url(assets/explosive_selected.png);
}
.ammo.machine.selected {
  background-image: url(assets/machine_selected.png);
}
.ammo-count {
  position: absolute;
  bottom: -10px;
  color: white;
  user-select: none;
  pointer-events: none;
}
#modal-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  background-color: var(--modal-background);
}

#modal-main .dialog {
  width: 300px;
  color: black;
  text-align: center;
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 60px rgba(149, 60, 250, 0.8);
}
.button {
  padding: 10px 10px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: rgb(134, 85, 197);
  box-shadow: 0px 2px 6px rgba(94, 49, 153, 0.432);
  transition: box-shadow 0.1s ease-in-out;
}
.button:hover {
  color: white;
  background-color: rgb(94, 49, 153);
  box-shadow: 0px 2px 12px rgba(168, 92, 255, 0.699);


}
.hidden {
  display: none!important;
}

.dialog-text {
  margin-bottom: 10px;
}

#score-dialog,#waves-dialog {
  font-size: 40px;
}

.dummy {
  color: rgb(56, 39, 218);
  color: rgb(223, 43, 97);
}

.overlay-main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}

.info-blip {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.795);
}